input {
    height: 2em;
    width: 20em;
    // border-radius: 5%;
    display: block;
    margin-bottom: 1em;
    border-style: solid;
    border-color: black;
}

form-fields-container {
    display: flex;
    vertical-align:middle;
}